#submit:hover{
    background-color: aqua;
}
#reset:hover{
    background-color: red;
}
label{
    width: 100px;
    display: inline-block;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.form{
    padding: 100px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(220, 247, 103);
    margin: auto;
    border: solid black;
}
#submit{
    margin-left: 100px;
    border: solid black;
}
#reset{
    margin-left: 20px;
    border: solid black;
}
input:focus{
    background-color: rgb(225, 222, 222);
}

